BasedOnStyle: Mozilla
BreakBeforeBraces: Mozilla
AccessModifierOffset: -4
ColumnLimit: 79
UseTab: Never
IndentWidth: 4
BinPackArguments: false
BinPackParameters: false
Standard: Cpp11
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
